@import "../../variable.scss";

.Movies {
    width: 100%;
    height: auto;
    padding: 1rem;
    .genre_name {
        font-size: 2rem;
    }
    .movies_list {
        width: 100%;
        height: auto;
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        justify-content: start;
        place-items: center;
        gap: 0.2rem;
        row-gap: 1.5rem;
        .movie {
            width: 20rem;
            height: 12rem;
            background: $text-dark;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .movie_name {
                width: 100%;
                height: 2rem;
                background: rgba($color: #000000, $alpha: 0.7);
                display: grid;
                place-items: center;
                position: absolute;
                bottom: 0;
                color: $text-white;
                transform: scale(0);
                transform-origin: bottom left;
                transition: all 0.5s;
            }
        }
        .movie:hover .movie_name {
            transform: scale(1);
        }
    }
    .pagination {
        width: 100%;
        height: 5rem;
        section {
            width: 15rem;
            height: 100%;
            justify-content: center;
            .swiper {
                width: 100%;
                .swiperSlide {
                    span {
                        background: $text-dark;
                        width: 2rem;
                        height: 2rem;
                        display: grid;
                        place-items: center;
                        color: $text-white;
                        cursor: pointer;
                    }
                }
            }
            #chevronleft,
            #chevronRight {
                font-size: 2rem;
                position: absolute;
                cursor: pointer;
            }
            #chevronleft {
                left: 39%;
            }
            #chevronRight {
                right: 39%;
            }
        }
    }
}

// .swiperSlide .swipperSection {
//     height: 100%;
//     margin: 0 1rem;
//     display: grid;
//     place-items: center;
// }
// .swiper-button-prev.swiper-button-disabled {
//     transform: translate(-50%);
// }
// .swiper-button-next.swiper-button-disabled {
//     transform: translate(50%);
// }
// .swiper-button-prev {
//     transform: translate(-50%);
// }
// .swiper-button-next {
//     transform: translate(50%);
// }
// .swiper-pagination-bullet-active {
//     width: 35px !important;
//     border-radius: 15px !important;
// }

@media screen and (max-width: 900px) {
    #chevronleft {
        left: 30% !important;
    }
    #chevronRight {
        right: 30% !important;
    }
}

@media screen and (max-width: 800px) {
    .movie_name {
        transform: scale(1) !important;
    }
}

@media screen and (max-width: 500px) {
    #chevronleft {
        left: 10% !important;
    }
    #chevronRight {
        right: 10% !important;
    }
}

@media screen and (max-width: 400px) {
    #chevronleft {
        left: 6% !important;
    }
    #chevronRight {
        right: 6% !important;
    }
}
