@import "../../variable.scss";

.HomePage {
    .landing {
        width: 100%;
        height: 100vh;
        // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        //     url("../../assets/bg.webp");
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: center;
        background-color: rgba($color: #000000, $alpha: 0.5);
        display: grid;
        place-items: center;
        justify-content: start;
        position: relative;
        .bgImg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
            object-position: center;
        }
        .details {
            // margin-left: 4rem;
            width: 80%;
            color: $text-white;
            display: grid;
            gap: 1.5rem;
            .genre {
                display: grid;
                grid-auto-flow: column;
                place-items: center;
                justify-content: start;
                gap: 0.8rem;
                span {
                    font-size: 1.5rem;
                    font-family: 100000;
                    display: grid;
                    place-items: center;
                    grid-auto-flow: column;
                    gap: 0.3rem;
                }
            }
            .desc {
                line-height: 2rem;
            }
            .watch {
                text-decoration: none;
                width: 8rem;
                padding: 0.5rem 0;
                font-size: 0.8rem;
                text-transform: uppercase;
                border-radius: 5rem;
                color: $text-white;
                outline: 1px solid $text-white;
                display: grid;
                place-items: center;
                grid-auto-flow: column;
                justify-content: center;
                gap: 0.1rem;
                transition: all 0.5s ease;
                .play {
                    font-size: 1.5rem;
                }
            }
            .watch:hover {
                background: $text-dark;
                outline: none;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .HomePage {
        .landing {
            align-content: end;
            gap: 2rem;
            .details {
                width: 80%;
                margin-bottom: 15rem;
                margin-left: unset;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .HomePage {
        .landing {
            place-items: start;
            padding-left: 2rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .HomePage {
        .landing {
            padding-left: 1rem;
            justify-content: center;
            .details {
                width: 90%;
                margin-bottom: 4rem;
                .watch {
                    width: 7rem;
                    padding: 0.4rem 0;
                    border-radius: 1rem;
                    margin-top: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .HomePage {
        .landing {
            padding-left: .8rem;
            .details {
                gap: 0.5rem;
                width: 95%;
                margin-bottom: 8rem;
                .desc {
                    line-height: 1.5rem;
                }
                .watch {
                    width: 8rem;
                    .play {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 330px){
    .HomePage{
        .landing{
            .details{
                margin-bottom: 1rem;
            }
        }
    }
}
